body {
    background-color: #fff1e0;
}
h1 {
    font-family: "Castellar", sans-serif;
    color: #3b5786;
    text-align: center;
    font-size: 50px;
}
p {
    font-family: "Lucida console", sans-serif;
    color: #3b5786;
    text-align: center;
    font-size: 15px;
}